<body>
  <!--Si videojuegoSeleccionado es null, mostramos el div -->
  <div *ngIf="videojuegoSeleccionado == null">
    <div id="ListaVideojuegos">
        <h3>Listado de Videojuegos</h3>
        <table id="tabla">
            <thead>
              <tr>
                  <th>Id</th>
                  <th>Título</th>
                  <th>Valoración Media</th>
              </tr>
            </thead>
            
            <tbody>
              <!-- recorremos la lista de videojuegos y añadimos a la tabla los atributos -->
              <tr *ngFor="let videojuego of videojuegos">
                  <td class="medio">{{ videojuego.idVideojuego }}</td>
                  <td class="enlace">
                    <!-- Cuando hacemos click en el titulo, se activa el metodo ver detalle -->
                    <div (click)="verDetalle(videojuego.idVideojuego)">{{ videojuego.titulo }}</div>
                  </td>
                  <td class="medio">{{ videojuego.valoracionMedia }}</td>
              </tr>
            </tbody>
         </table>
     </div>
    </div>
    <!--Si videojuegoSeleccionado es distinto de null, mostramos el div -->
    <div *ngIf="videojuegoSeleccionado !== null">
    <br><br><hr>
      <h3>Detalle de Videojuego</h3>
      <!-- Sacamos los atributo de los videojuegos por la id del seleccionado -->
      <h3>{{ videojuegos[videojuegoSeleccionado].titulo }}</h3>
      <p>Id: {{ videojuegos[videojuegoSeleccionado].idVideojuego }}</p>
      <p>Compañía: {{ videojuegos[videojuegoSeleccionado].compania }}</p>
      <p>Imagen :</p><img src="assets/imagenes/{{ videojuegos[videojuegoSeleccionado].imagen }}">
      <p>Valoración media: {{ videojuegos[videojuegoSeleccionado].valoracionMedia }}</p>

      <button (click)="volver()">Volver</button>
      <hr>
    </div>
</body>
