#tabla,th, td {
    border: none;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px;
    }
th{
    background-color: rgb(186, 43, 226)
}
.medio{
    text-align: center
    
}
.enlace{
    color: rgb(136, 0, 255);
    cursor: pointer;
    
}
img {
    max-width: 200px;
    height: auto
    
    
}

header {
    background-color: rgb(136, 0, 255);
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  h1 {
    margin: 0;
  }

  h3{
    color:rgb(136, 0, 255);
  }