<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sobre-nosotros.component.css">
    <title>Sobre Nosotros</title>
</head>
<body>

    <header>
        <h1>Sobre nosotros</h1>
    </header>

    <section class="content">
        <article>
            <h2>¿Quiénes Somos?</h2>
            <p> Somos una apasionada casa de desarrollo de videojuegos comprometida con la creación de experiencias 
                de juego emocionantes y cautivadoras. Fusionamos la creatividad con la 
                tecnología para ofrecer títulos innovadores que transportan a los jugadores a mundos fascinantes y 
                los sumergen en aventuras inolvidables.</p>
        </article>

        <article>
            <h2>Nuestra Misión</h2>
            <p>Llevamos la alegría y la emoción a jugadores de todo el mundo a través de experiencias de juego 
                excepcionales. Nos esforzamos por crear títulos que no solo entretengan, sino que también inspiren 
                y conecten a las personas. Creemos en la magia de los videojuegos para trascender fronteras, unir 
                comunidades y proporcionar momentos significativos de escape y diversión.</p>
        </article>

        <article>
            <h2>Equipo</h2>
            <p>Contamos con un equipo apasionado y diverso de profesionales que comparten un amor común por la
                 creación de experiencias de juego excepcionales. Nuestra fuerza laboral está formada por talentosos
                  diseñadores, programadores, artistas gráficos y narradores, cada uno aportando habilidades únicas
                   que se combinan para dar vida a nuestros emocionantes proyectos.</p>
        </article>
    </section>

</body>
</html>
